curve.dat
curve.dat.gif
curve_inv.dat
lens_profile_n1.4.dat
lens_profile_n1.4_long.dat
lens_profile_n1.5.dat
lens_profile_n1.5_long.dat
lens_profile_n1.6.dat
lens_profile_n1.6_long.dat
tvector2_2circles_fit_-1.4.gif
tvector2_2circles_fit_0.4.gif
